<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated responsibilityMetaModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="responsibilityMetaModel.presentation.ResponsibilityMetaModelModelWizardID"
            name="%_UI_ResponsibilityMetaModelModelWizard_label"
            class="responsibilityMetaModel.presentation.ResponsibilityMetaModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ResponsibilityMetaModelModelFile.gif">
         <description>%_UI_ResponsibilityMetaModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated responsibilityMetaModel -->
      <editor
            id="responsibilityMetaModel.presentation.ResponsibilityMetaModelEditorID"
            name="%_UI_ResponsibilityMetaModelEditor_label"
            icon="icons/full/obj16/ResponsibilityMetaModelModelFile.gif"
            extensions="rmodel"
            class="responsibilityMetaModel.presentation.ResponsibilityMetaModelEditor"
            contributorClass="responsibilityMetaModel.presentation.ResponsibilityMetaModelActionBarContributor">
      </editor>
   </extension>

</plugin>
